.button {
    background-color: #093756;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    outline: none;
    padding: .5rem 1.3rem;
    padding-top: 1rem;
    border-radius: 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 900px) {
        padding: 1rem 2.5rem;
        padding-top: 1.5rem;
    }

    &:hover {
        color: #093756;
        background-color: #93d0f6;
        border: 2px solid #093756;
    }
}