.home-page {
    border: 1px solid transparent;

    .page-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 0;

        @media (max-width: 900px) {
          flex-direction: column;
        }
    
        .img-holder {
          border-radius: 100%;
          width: 25%;

          @media (max-width: 900px) {
            width: 50%;
            margin-bottom: 1rem;
          }
    
          img {
            width: 100%;
            border-radius: 100%;
          }
        }
    
        .bio-section {
          width: 50%;
          color: #fff;

          @media (max-width: 900px) {
            width: 90%;
          }

          h1 {
            @media (max-width: 900px) {
              text-align: center;
            }
          }

          h3 {
            font-weight: bold;
            color: #093756;
            @media (max-width: 900px) {
              font-size: 16px;
            }

            span {
                font-size: 30px;

                @media (max-width: 900px) {
                  font-size: 16px;
                }
            }
          }
    
          p{
            font-size: 20px;
            text-align: justify;
          }
        }
      }
    
      .border-line-container {
        height: 3px;
        width: 90%;
        margin:  0 auto;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient(to left, #107BC0, #093756, #fff);
      }

    .skills-container {
        text-align: center;
        margin-top: 3rem;
        color: #041d2e;
        animation-name: cardzome;
        animation-duration: 5s;

        h1 {
            font-size: 40px;
            font-weight: 900;
        }

        .skill-wrapper{
            width: 60%;
            margin: 1rem auto;
            background-color: #041d2e;
            padding: 0 1rem;

          @media (max-width: 900px) {
            width: 90%;
          }
            
            div {
                display: flex;
                justify-content: space-between;
                margin: 1rem 0;
            }

        }
    }

   .projectSection-container {
        margin-top: 5rem;

    h1 {
        color: #041d2e;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
    }

    .proj-section {
        width: 90%;
        margin: 0 auto;

        .project-holder {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .viewmore-btn {
            padding: 1rem 0;
            display: flex;
            justify-content: flex-end;

            @media (max-width: 900px) {
              justify-content: center;
            }
        }
    }
   }

   .blog {
    margin-top: 3rem;

    h1 {
        font-size: 40px;
        font-weight: 900;
        text-align: center;
    }

    .blog-wrapper {
        width: 80%;
        margin: 1rem auto;
        display: flex;
        justify-content: space-between;

        @media (max-width: 900px) {
          flex-wrap: wrap;
        }

    }
}

.home-footer {
    margin-top: 5rem;
}

}

// ********..Animation..************
@keyframes cardzome {
    0% {
      width: 10%;
    }
    100% {
      width: 100%;
    }
  }
