.home-page {
    border: 1px solid transparent;

    .skills-container {
        text-align: center;
        margin-top: 3rem;
        color: #041d2e;
        animation-name: cardzome;
        animation-duration: 5s;

        h1 {
            font-size: 40px;
            font-weight: 900;
        }

        .skill-wrapper{
            width: 60%;
            margin: 1rem auto;
            background-color: #041d2e;
            padding: 0 1rem;
            
            div {
                display: flex;
                justify-content: space-between;
                margin: 1rem 0;
            }

        }
    }

   .projectSection-container {
        margin-top: 3rem;

    h1 {
        color: #041d2e;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
    }

    .proj-section {
        width: 90%;
        margin: 0 auto;

        .project-holder {
            display: flex;
            justify-content: space-between;
        }

        .viewmore-btn {
            text-align: end;
            padding: 1rem 0;
        }
    }
   }

   .blog {
    margin-top: 3rem;
    // background-color: #041d2e;

    h1 {
        font-size: 40px;
        font-weight: 900;
        text-align: center;
    }

    .blog-wrapper {
        width: 70%;
        margin: 1rem auto;
        display: flex;
        justify-content: space-between;

    }
}

}

// ********..Animation..************
@keyframes cardzome {
    0% {
      width: 10%;
    }
    100% {
      width: 100%;
    }
  }