.projects-page {
    padding: 1rem 0;

    h1 {
        text-align: center;
    }

    .proj-wrapper {
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        flex-wrap: wrap;

    }
}
