@function aligning(){
    
}

.projects-page {
    background-color: #107BC0;
    color: #fff;
    text-align: center;
    padding: 1rem 0;

    .btn_holder {
        text-align: left;
        margin: 2rem 0;

    }

    nav {
        text-align: end;
        color: #fff;
        width: 85%;
        margin: 0 auto;

        .menuBar-holder {

            span {
                cursor: pointer;

            }

        }

       .pages-container {
            width: 20%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            padding: 2rem .5rem;
            background-color: #fff;
            position: fixed;
            right: 7rem;


        
        
        
           

            span{
                width: 90%;
                border-radius: 10px;
                padding: .5rem;
                display: flex;
                margin: .5rem 0;
                background-image: linear-gradient(to bottom right, #175884, #041d2e);
                box-shadow:  0px 1px 6px #041d2e;
                cursor: pointer;
                
                &:hover {
                    background-image: linear-gradient(to bottom left, #175884, #041d2e);
                }

                a {
                    width: 100%;
                    text-decoration: none;
                    padding-top: .5rem;
                    color: #93d0f6;
                    text-align: center;

                }
            }
       }
       

        .menu {
            font-size: 30px;
        }
        .cancleIcon {
            font-size: 30px;
        }
    }

    header {
        font-size: 40px;
    }

    .projects-wrapper {
        width: 85%;
        margin: 0 auto;

        .first-proj {
            border: 2px solid #093756;
            display: flex;
            justify-content: space-between;
            border-radius: 1rem;
            padding: 3rem 1rem;

            .ibeliveImg-holder {
                width: 50%;
            }

            .ibiliev-desc {
                width: 50%;
                padding-top: 2rem;

                h2 {
                    color: #fff;
                    text-align: left;
                }

                p{
                    text-align: justify;
                    color: #93d0f6;
                }
            }

       

        }
        .second-proj-wrapper {
            display: flex;
            gap: 1.5rem;
            margin: 2rem 0;

            .second-proj {
                width: 50%;
                padding: 3rem 1rem;
                border-radius: 1rem;
                border: 2px solid #093756;
                text-align: left;

                .roman-nums-imgHolder {
                    width: 80%;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        height: 70%;
                        border-radius: 10px;
                    }
                }

                .btn_holder {
                    text-align: left;
                    display: flex;
                    gap: 1.5rem;
    
                }

            }
            .third-proj {
                width: 50%;
                padding: 3rem 1rem;
                border: 2px solid #093756;
                border-radius: 1rem;
                text-align: left;

                .diesGame-imgHolder {
                    width: 80%;
                    display: flex;
                    margin: auto;
                    margin-top: 3rem;

                    img {
                        width: 100%;
                        border-radius: 10px;
                    }
                }
                .btn_holder {
                    text-align: left;
                    display: flex;
                    gap: 1.5rem;
    
                }
            }
        }
    }

    .fourth-proj-wrapper {
        display: flex;
        gap: 1.5rem;

        .forth-proj-holder {
            width: 50%;
            padding: 3rem 1rem;
            border: 2px solid #093756;
            border-radius: 1rem;
            text-align: left;

            .randomUsers-proj-holder {
                width: 100%;

                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }

        .fith-proj-holder {
            width: 50%;
            padding: 3rem 1rem;
            border: 2px solid #093756;
            border-radius: 1rem;
            text-align: left;

            .phonex-proj-holder {
                width: 100%;

                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }
    }
}
// ***************** ANIMATIONS************
.pages-container {
    animation: growDown 400ms ease-in-out forwards
        
}
@keyframes growDown {
    0% {
        transform: scaleX(0)
    }
    90% {
        transform: scaleX(1.1)
    }
    100% {
        transform: scaleX(1)
    }
}