.blog-card {
    background-color: black;
    padding: 1rem;
    width: 400px;
    color: #fff;
    box-shadow: 4px 8px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 95%;
        margin-bottom: .8rem;
    }

    a {
        color: #107BC0;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }
   
}